{# les liens de la navbar #}
{% set navItems = [
    {'name': 'C.G.U', 'path': 'app_cgu'},
    {'name': 'Mentions Légales', 'path': 'app_legal'},
    {'name': 'Allergènes', 'path': 'app_allergens'},
    {'name': 'Qui sommes-nous ?', 'path': 'app_presentation'}, 
] %}


{# {'name': 'Actualités', 'path': 'app_news'}, #}

{% include 'components/spacing.html.twig' %}
<footer class="text-white border-t border-gray-200 bg-col-dark customShadowFooter">
	<div class="w-full max-w-screen-xl p-4 py-6 mx-auto lg:py-8">
		<div class="md:flex md:justify-between">
			<div class="flex flex-col mb-6 md:mb-0 gap-y-2">

				<a class="flex items-center cursor-pointer gap-x-2" href="{{ path ('app_home')}}">
					<div class="relative flex items-center p-2 overflow-hidden rounded-full">
						<img src="/images/initiales/logo_remove_bg.png" class="size-8 contrast-110 neon" alt="logo delices de la vaunage"/>
						<div class=" absolute inset-0 bg-[#111111] -z-10"></div>
					</div>
					<p class="self-center font-semibold h3 whitespace-nowraptext-white">Les Délices de la Vaunage</p>
				</a>

				<a href="tel:+0982404107" class="self-start font-semibold duration-300 p whitespace-nowraptext-white hover:translate-x-3">
					<i class="mr-2 fa-solid fa-phone"></i>Tel :  09 82 40 41 07</a>
				<a href="mailto:contact@delices-vaunage.fr" class="duration-300 p whitespace-nowraptext-white hover:translate-x-3">
					<i class="mr-2 fa-solid fa-envelope"></i>Nous envoyer un mail</a>
				<a href="{{path('app_contact')}}" class="mb-6 duration-300 p whitespace-nowraptext-white hover:translate-x-3">
					<i class="mr-2 fa-solid fa-paper-plane"></i>Nous envoyer un message</a>
				<p class="p">
					<i class="mr-2 fa-solid fa-house"></i>Nous rendre visite :

					<span class="text-base leading-relaxed text-gray-300">

						<br>
						9 place Mireio
						<br>
						30420 Calvisson
					</span>
				</p>
				<p class="p">
					<i class="mt-6 mr-2 fa-solid fa-clock"></i>Horaires d'ouverture :
					<span class="text-base leading-relaxed text-gray-300">
						<br>
						du mardi au vendredi :
						<br>
						6h30-13h00 /16h00-19h00
						<br>
						samedi & dimanche :
						<br>
						7h00-13h00
					</span>
				</p>
			</div>
			<div class="grid grid-cols-2 gap-8 mt-2 sm:gap-6 sm:grid-cols-3">
				<div>
					<h2 class="mb-6 text-sm font-semibold uppercase">Catégories</h2>
					<ul class="font-medium text-neutral-400">
						{% for item in sections %}
							{% if  item.isVisible %}
								<li class="mb-4 ">
									<a href="{{ path('app_categorie',{'categorie':item.slug} )}}" class="capitalize hover:underline">{{ item.name }}</a>
								</li>
							{% endif %}
						{% endfor %}


					</ul>
				</div>
				<div>
					<h2 class="mb-6 text-sm font-semibold uppercase ">Informations</h2>
					<ul class="font-medium text-neutral-400 ">
						{% for item in navItems %}
							<li class="mb-4 ">
								<a href="{{ path (item.path )}}" class="capitalize hover:underline">{{ item.name }}</a>
							</li>
						{% endfor %}

					</ul>
				</div>

			</div>
		</div>
		<hr class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8"/>
		<div class="sm:flex sm:items-center sm:justify-between">
			<span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">© 2025
				<a href="https://www.compagnondecom.fr/" class="hover:underline">Compagon de Com</a>.<a href="/admin">
					All Rights Reserved.</a>
			</span>
		</div>
	</div>
</footer>
