<article class="relative bg-white border rounded-lg border-col-gold w-72 h-96 customShadow">
	<img class="w-full rounded-t-lg h-52 " src="{{ asset('images/products/' ~ product.image) }}" alt="{{product.name}}"/>

	<div class="p-5 ">
		<h5 class="mb-2 font-bold tracking-tight text-gray-900 capitalize h4">{{product.name}}</h5>

		<p class="mb-3 font-normal text-gray-700 dark:text-gray-400 p">{{product.description | raw}}</p>

	</div>
    <div class="absolute bottom-0 px-4 py-2 font-bold translate-y-[33%] border rounded-lg customShadow right-2 bg-col-gold h5">{{product.price|price }}</div>
</article>
